
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Test/_Layout.cshtml";
}
@section scripts{
    
  
    <script src="~/Tests/mockData.js"></script>
    <script src="~/Tests/mock-data-service.js"></script>
    <script src="~/Tests/controllers/schemaBuilderControllerSpec.js"></script>
}
<h2>Index</h2>

