
@{
    ViewBag.Title = "UIKit";
    Layout = null;
}

<div ng-controller="UIKitController">
    <div class="row">
        <div class="col-md-3">
            <!-- START box placeholder-->
            <div class="box-placeholder">
                <!-- START button group-->

                <div class="btn-group open" dropdown="dropdown">
                    <button class="btn btn-primary dropdown-toggle" dropdown-toggle="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        fadeInLeft <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu animated fadeInLeft" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
                <!-- END button group-->
            </div>
            <!-- END box placeholder-->
        </div>
    </div>

</div>

